:root {
  --button--color: #121010;
  --button--border-color: #c3b0a5;
  --button--border-color--active: #c3b0a5;
  --button--border-color--hover: #fff;
  --button--border-background-color: transparent;
  --button--border-background-color--hover: #c3b0a5;
  --button--border-background-color--active: #b4a298;
  --button--border-border-color--active: #c3b0a5;
  --button--border-border-color--hover-active: #b4a298;
  --button--outline-color--focus-visible: #005fcc;
}

button {
  position: relative;
  min-width: 0;
  max-width: 100%;
  text-decoration: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  font-weight: 400;
  color: var(--button--color);
  transition: background-color 200ms cubic-bezier(0.25, 0, 0.25, 1), color 200ms cubic-bezier(0.25, 0, 0.25, 1);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--button--border-background-color);
  border: 1px solid var(--button--border-color);
  padding: .625rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: .25rem;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  box-shadow: none;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }

  &:active {
    border-color: var(--button--border-border-color--active);
    background-color: var(--button--border-background-color--active);
    color: var(--button--border-color--hover);
  }

  &:focus-visible {
    outline: var(--button--outline-color--focus-visible) auto 1px;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    -webkit-tap-highlight-color: transparent;
  }
}

@media screen and (min-width: 992px) {
  button {
    &:hover {
      color: var(--button--border-color--hover);
      background-color: var(--button--border-background-color--hover);
      box-shadow: none;
    }

    &:hover:active {
      background-color: var(--button--border-background-color--active);
      border-color: var(--button--border-border-color--hover-active);
    }
  }
}