:root {
  --nav--border-color: #9d5248;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 2rem;
  height: 108px;
  border-bottom: solid 0.5px var(--nav--border-color);

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}