:root {
  --background: #f7f5f1;
  --foreground: #5b5a57;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  font-family: "Optima", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: start;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}