:root {
  --link--color: #9d5248;
  --link--color--active: #5B5A57;
  --link--outline-color--focus-visible: #005fcc;
}

a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  position: relative;
  color: var(--link--color);
  background-color: transparent;
  padding: 0 .75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.48;
  border-radius: .25rem;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-self: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;

  &:active {
    box-shadow: none;
    color: var(--link--color--active);

    &::before,
    &::after {
      background-color: var(--link--color--active);
    }
  }

  &:focus-visible {
    outline: var(--link--outline-color--focus-visible) auto 1px;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    -webkit-tap-highlight-color: transparent;
  }

  &::before,
  &::after {
    content: "";
    background-color: var(--link--color);;
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: width 200ms cubic-bezier(0.42, 0, 0.58, 1);
    width: .5rem;
  }

  &::before {
    right: calc(100% - 8px);
  }

  &::after {
    left: calc(100% - 8px);
  }
}

@media screen and (min-width: 992px) {
  a:hover {
    box-shadow: none;
  }
}